.header-container {
  width: 100vw;
  font-family: Raleway, Arial;
  display: flex;
  height: 50px;
  align-items: center;
  padding: 1rem 0;
  justify-content: space-between;
  background-color: transparent;
  background: linear-gradient(to right, #5c258d, #4389a2);

  &.nav-color-white {
    background: white;
  }

  .app-logo {
    max-width: 40px;
    margin: 0 1rem;
  }
}

.icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-transform: uppercase;
  margin: 0 1rem;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  border-radius: 50px;
  background: linear-gradient(to right, #5c258d, #4389a2);
  box-shadow: 0px 0px 8px rgba(150, 150, 150, 1);

  .icon {
    margin-right: 0.5rem;
    font-size: 1.5rem;
    text-shadow: 0px 0px 3px rgba(150, 150, 150, 1);
  }

  @media (max-width: 500px) {
    padding: 0.5rem;
    
    .icon {
        margin-right: 0;
    }

    span {
        display: none;
    }
  }
}

.container-username {
  display: flex;
  align-items: flex-start;

  .username-display {
    font-size: 2rem;
    font-family: "Luckiest Guy", cursive;
    background: linear-gradient(to right, #5c258d, #4389a2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    margin: 0 1rem;

    @media (max-width: 500px) {
      font-size: 1rem;
      line-height: 2rem;
    }
  }

  .icon-copy {
    fill: #4389a2;
    cursor: pointer;
  }

  .icon-check {
    fill: #129112;
  }
}
